body{
	overflow: scroll;
	cursor: default;
	background-color: #f5f6f7;
}
#all{
	margin-left:auto; margin-right:auto; width:1000px;
	padding-top: 10px;
}
#headline{
	background: #ccc;
	
	border-bottom: 1px solid #ebebeb;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: gray;
}
.head_display{
	font-family:"Times New Roman",Georgia,Serif;
	overflow: hidden;
	height: 20px;
	text-align: center;
}
.head_display span{
	font-family:"Times New Roman",Georgia,Serif;
	overflow: hidden;
	margin:auto;
	height: 20px;
	text-align: center;
	font-size: 18px;
}
.head_display span:hover{
	color: black;
	text-shadow: 3px 3px 20px white;
}
.head_display{
}
.head_select{
	display: none;
	overflow: hidden;
	position: absolute;
	font-family:Arial, Helvetica, sans-serif;;
}
#head_select{
	position: relative;
	top:0px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	padding:0px 20px 0px 20px;
	width : 940px;
	background-color: #fff;
	font-size: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: rgb(126,126,126);
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	padding-right: auto;
	text-align: left;
	color: #ddd;
	float:none;
	overflow: auto;
}
.cursor_rail{
	height: 0px;
	overflow: hidden;
}
.cursor{
	background-image: url(cursor.png);
	width: 30px;
	height: 20px;
}
.head_select table{
	width : 920px;
}
.head_select [index]{
	background-color: none;/*rgb(50,50,50);*/
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
}
.head_select [index]:hover{
	color: #fff;
	text-shadow:black 0 1px 3px;
}
.separator{
	color: #fff;
	text-shadow:black 0 1px 3px;
	padding-right: 50px;
	float:none;
}
#sar_select .cell{
	float:left;
	margin: 5px 10px 0px 10px;
	width:285px;
}
.head_select span[index]{
	margin-right: 20px;
	padding: 1px 5px 1px 5px;
	display:inline-block;
}
#node_display{
	float:left;
	width:200px;
}
#time_display{
	float:left;
	width:100px;
}
#sar_display{
	float:left;
	width:500px;
}
#log_display{
	float:none;
	width:200px;
}
li{
	background-color: inherit;
	float:left;
	padding-left: 10px;
	list-style-position:inside;
}
canvas{
	height: 250px;
	width: 1000px;
	border-width: 2px;
	border-color: black;
}
#central_panel div{
	margin-top: 20px;
	background-color: #fff;
	font-size: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	padding-right: auto;
	text-align: center;
	color: #7f7f7f;
	float:none;
	overflow: hidden;
}
table span{
	float: left;
	margin: auto;
}
.light_group{
	float:left;
	margin: auto;
	padding:auto;
	height: 14px;
	width: 21px;
	margin-right: 2px;
	overflow: hidden;
}
.light[light_color='black']{
	margin:1px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(139,136,153,1) 0%, rgba(0,0,0,1) 21%, rgba(0,0,0,1) 32%, rgba(0,0,0,0.49) 67%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(139,136,153,1)), color-stop(21%,rgba(0,0,0,1)), color-stop(32%,rgba(0,0,0,1)), color-stop(67%,rgba(0,0,0,0.49)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(139,136,153,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 32%,rgba(0,0,0,0.49) 67%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(139,136,153,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 32%,rgba(0,0,0,0.49) 67%,rgba(125,185,232,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(139,136,153,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 32%,rgba(0,0,0,0.49) 67%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(139,136,153,1) 0%,rgba(0,0,0,1) 21%,rgba(0,0,0,1) 32%,rgba(0,0,0,0.49) 67%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8899', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 5px;
	width: 5px;
	float:left;
}
.light[light_color='red']{
	margin:1px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,165,165,1) 0%, rgba(255,165,165,1) 1%, rgba(255,48,48,1) 20%, rgba(255,61,61,1) 32%, rgba(255,99,99,0.5) 66%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,165,165,1)), color-stop(1%,rgba(255,165,165,1)), color-stop(20%,rgba(255,48,48,1)), color-stop(32%,rgba(255,61,61,1)), color-stop(66%,rgba(255,99,99,0.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,165,165,1) 0%,rgba(255,165,165,1) 1%,rgba(255,48,48,1) 20%,rgba(255,61,61,1) 32%,rgba(255,99,99,0.5) 66%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,165,165,1) 0%,rgba(255,165,165,1) 1%,rgba(255,48,48,1) 20%,rgba(255,61,61,1) 32%,rgba(255,99,99,0.5) 66%,rgba(125,185,232,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,165,165,1) 0%,rgba(255,165,165,1) 1%,rgba(255,48,48,1) 20%,rgba(255,61,61,1) 32%,rgba(255,99,99,0.5) 66%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,165,165,1) 0%,rgba(255,165,165,1) 1%,rgba(255,48,48,1) 20%,rgba(255,61,61,1) 32%,rgba(255,99,99,0.5) 66%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa5a5', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 5px;
	width: 5px;
	float:left;
}
.light[light_color='green']{
	margin:1px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(226,255,235,1) 0%, rgba(58,255,48,1) 20%, rgba(68,255,61,1) 32%, rgba(99,255,99,0.49) 67%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(226,255,235,1)), color-stop(20%,rgba(58,255,48,1)), color-stop(32%,rgba(68,255,61,1)), color-stop(67%,rgba(99,255,99,0.49)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(226,255,235,1) 0%,rgba(58,255,48,1) 20%,rgba(68,255,61,1) 32%,rgba(99,255,99,0.49) 67%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(226,255,235,1) 0%,rgba(58,255,48,1) 20%,rgba(68,255,61,1) 32%,rgba(99,255,99,0.49) 67%,rgba(125,185,232,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(226,255,235,1) 0%,rgba(58,255,48,1) 20%,rgba(68,255,61,1) 32%,rgba(99,255,99,0.49) 67%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(226,255,235,1) 0%,rgba(58,255,48,1) 20%,rgba(68,255,61,1) 32%,rgba(99,255,99,0.49) 67%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ffeb', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 5px;
	width: 5px;
	float:left;
}
.light[light_color='blue']{
	margin:1px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(226,242,255,1) 0%, rgba(48,110,255,1) 20%, rgba(61,130,255,1) 32%, rgba(99,185,255,0.5) 66%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(226,242,255,1)), color-stop(20%,rgba(48,110,255,1)), color-stop(32%,rgba(61,130,255,1)), color-stop(66%,rgba(99,185,255,0.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(226,242,255,1) 0%,rgba(48,110,255,1) 20%,rgba(61,130,255,1) 32%,rgba(99,185,255,0.5) 66%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(226,242,255,1) 0%,rgba(48,110,255,1) 20%,rgba(61,130,255,1) 32%,rgba(99,185,255,0.5) 66%,rgba(125,185,232,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(226,242,255,1) 0%,rgba(48,110,255,1) 20%,rgba(61,130,255,1) 32%,rgba(99,185,255,0.5) 66%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(226,242,255,1) 0%,rgba(48,110,255,1) 20%,rgba(61,130,255,1) 32%,rgba(99,185,255,0.5) 66%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f2ff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 5px;
	width: 5px;
	float:left;
}