extends layout
block content
  #all
    #headline
      #node_display(class="head_display")
        span(index=0)
      #time_display(class="head_display")
        span(index=1)
      #sar_display(class="head_display")
        span(index=2)
      #log_display(class="head_display")
        span(index=3)
      .cursor_rail
        .cursor
      #head_select
        #node_select(index=0, class="head_select")
          table
        #time_select(index=1, class="head_select")
          table
        #sar_select(index=2, class="head_select")
          table
        #log_select(index=3, class="head_select")
          table
    #central_panel
      #sar_canvas
        canvas#sar_draw(width = 1000,height =250)
      #log_canvas
        canvas#log_draw(width = 1000,height =250)
  script(src="javascripts/function.js")
  script(src="javascripts/drawCanvas.js")
